.navbar {
 
  display: flex;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 14px 0px 8px 2px rgb(89, 47, 194);
}
.nav-logo img {
  width: 200px; /* Adjust the size accordingly */
  height: 100px; /* Maintain aspect ratio */
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(116, 52, 189);
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height:3px;
    border-radius: 10px;
    background: rgb(116, 52, 189);
    font-size: 20px;

}
.navbar login{
   display: flex;
   align-items: center;
   
}
.navbar input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid transparent; /* Transparent border initially */
    border-radius: 15px; /* Adjust the roundness */
    outline: none;
    transition: border 0.3s; /* Add transition effect for smoother appearance */
  }

  .navbar input[type="text"]:focus {
    border: 1px solid purple; /* Purple border on focus */
  }
  
.navbar  button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(116, 52, 189);
    border-radius: 40px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin: 32px 10px;
    transition: background-color 0.3s;
}

.navbar button:active {
    background-color: rgb(116, 52, 189);
    color: white; /* Add this line to change text color on focus */ 
  }